In [1]:
import pandas as pd
X = pd.read_csv("digits.csv")
X

     A   B
0    1  10
1    2  10
2    3  10
3    4  15
4    5  18
5    6  20
6    7  20
7   12   0
8    8  21
9    9  20
10   3  23
11  10  19
12  11  18
13   1  10
14   2   9
15   3  10
16  10  29
17  11  30
18  12  30

In [2]:
from sklearn.preprocessing import Imputer
i = Imputer()

i.fit_transform(X)

array([[  1.,  10.],
       [  2.,  10.],
       [  3.,  10.],
       [  4.,  15.],
       [  5.,  18.],
       [  6.,  20.],
       [  7.,  20.],
       [ 12.,   0.],
       [  8.,  21.],
       [  9.,  20.],
       [  3.,  23.],
       [ 10.,  19.],
       [ 11.,  18.],
       [  1.,  10.],
       [  2.,   9.],
       [  3.,  10.],
       [ 10.,  29.],
       [ 11.,  30.],
       [ 12.,  30.]])

In [3]:
X = pd.read_csv("digits.csv")

from sklearn.preprocessing import StandardScaler
s = StandardScaler()

s.fit_transform(
    i.fit_transform(X.values))

array([[-1.38447124, -0.88572653],
       [-1.12402616, -0.88572653],
       [-0.86358107, -0.88572653],
       [-0.60313599, -0.24827183],
       [-0.3426909 ,  0.13420099],
       [-0.08224582,  0.38918287],
       [ 0.17819927,  0.38918287],
       [ 1.48042469, -2.16063592],
       [ 0.43864435,  0.51667381],
       [ 0.69908944,  0.38918287],
       [-0.86358107,  0.77165569],
       [ 0.95953452,  0.26169193],
       [ 1.21997961,  0.13420099],
       [-1.38447124, -0.88572653],
       [-1.12402616, -1.01321747],
       [-0.86358107, -0.88572653],
       [ 0.95953452,  1.53660132],
       [ 1.21997961,  1.66409226],
       [ 1.48042469,  1.66409226]])

In [6]:
res = pd.read_csv("data.csv")
res

  Alt  Bar   Pat WillWait
0   T    F  Some        Y
1   F    F  Full        N
2   F    T   NaN        N
3   T    T  None        Y
4   F    T  Some        Y

In [7]:
pd.get_dummies(res)

,Alt_F,Alt_T,Bar_F,Bar_T,Pat_Full,Pat_None,Pat_Some,WillWait_N,WillWait_Y
0,0,1,1,0,0,0,1,0,1
1,1,0,1,0,1,0,0,1,0
2,1,0,0,1,0,0,0,1,0
3,0,1,0,1,0,1,0,0,1
4,1,0,0,1,0,0,1,0,1

In [8]:
res.WillWait = res.WillWait.map(dict(Y=1,N=0))

In [9]:
res

  Alt  Bar   Pat  WillWait
0   T    F  Some         1
1   F    F  Full         0
2   F    T   NaN         0
3   T    T  None         1
4   F    T  Some         1

In [10]:
res.values[:,[0,1]]

array([['T', 'F'],
       ['F', 'F'],
       ['F', 'T'],
       ['T', 'T'],
       ['F', 'T']], dtype=object)